.header {
	// background-image: url(../img/backgrounds/banner-2369464_1920.jpg);
	// background-position: bottom;
	// background-repeat: no-repeat;
	// height: 170px;

	
	@extend %my-flex;
	align-items: center;	
	justify-content: center;
	.img-logo-invisible {
		flex: 0 1 160px;		
		img {
			max-width: 100%;
		}
	}	

	.name {
		flex: 1 1 500px;
		h1 {
		font-family: Segoe_Script_Bold;
		font-size: em(32);
		line-height: 1.2;
		word-wrap: break-word;
		color: #ffffff;
		}			
	}

	.phone {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		margin-right: 10px;
    margin-top: 15px;
		flex: 0 1 250px;
		font-size: em(16);
		a{
			color: rgb(109, 7, 7);
			align-self: flex-end;
		}
		p{
			padding: 2px;
			margin: 2px;
			display: inline;
			align-self: flex-end;
			
		}
		
	}
	
	
}

