.services {
	display: flex;
	justify-content: center;
	
	table {
		width: 80%;
		border-spacing: 1px;
		
	
	}
	tbody:first-child>tr:first-child{
		text-align: center;
	}
	td, th{
		padding: 5px;
		border: 1px black solid;
	
	}
	tr:hover td {
		background: #f88585;
	}

	td:last-child {
		text-align: center;
	}
	
}