@import url(../css/_normalize.css);
@import url(../css/_fonts.css);
.header, .menu nav ul, .container-content {
  display: flex;
  flex-wrap: wrap; }

* {
  box-sizing: border-box; }

html, body {
  min-width: 280px;
  margin: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-size: 1em; }

html {
  background: url(../img/background_global.png) -19px -70px repeat-y;
  background-color: #dcd6d6;
  z-index: -1; }

.navigation {
  background-color: #ff000000; }

.footer {
  background-color: #ff00dd; }

.header {
  align-items: center;
  justify-content: center; }
  .header .img-logo-invisible {
    flex: 0 1 160px; }
    .header .img-logo-invisible img {
      max-width: 100%; }
  .header .name {
    flex: 1 1 500px; }
    .header .name h1 {
      font-family: Segoe_Script_Bold;
      font-size: 2em;
      line-height: 1.2;
      word-wrap: break-word;
      color: #ffffff; }
  .header .phone {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 0 1 280px;
    font-size: 1.125em; }
    .header .phone p {
      padding: 2px;
      margin: 2px;
      display: inline;
      align-self: flex-end; }

.menu {
  padding-top: 25px; }
  .menu nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between; }
    .menu nav ul a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex: 0 1 197px;
      font-size: 1.625em;
      font-family: "Arial";
      color: #242424;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 16px 11px 0px rgba(149, 149, 149, 0.7), inset 0px 11px 16.5px 5.5px rgba(152, 152, 152, 0.25);
      height: 63px; }
    .menu nav ul a:nth-last-child(1) {
      color: white;
      background-color: #ab2525db;
      box-shadow: 0px 16px 11px 0px rgba(216, 77, 77, 0.7), inset 0px 11px 17.25px 5.75px rgba(153, 49, 49, 0.85); }
    .menu nav ul li {
      align-self: center; }

.container-content .doctor-oath {
  border: 1px solid grey;
  border-radius: 10px;
  max-width: 600px;
  margin: 5px 20px 5px 5px;
  box-shadow: 5px 4px 8px 0px #a28d8d, 4px 9px 11px 4p; }

.app {
  position: static;
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 147px auto 1fr auto;
  grid-template-areas: "main-header" "navigation" "body" "footer"; }

.main-main-header {
  position: relative;
  height: 172px; }
  .main-main-header .img-logo {
    position: absolute;
    top: -43px;
    left: -16px; }
    .main-main-header .img-logo img {
      height: 246px; }
  .main-main-header .main-header {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    border-radius: 10px;
    height: 142px;
    background: url(../img/background_header_2.png) no-repeat 0px 0px #bebec0;
    grid-area: main-header;
    box-shadow: 0px 0px 30px -5px black inset; }

.navigation {
  background-color: rgba(255, 255, 255, 0); }

.body {
  margin-top: 25px;
  border-radius: 10px;
  background-color: #d8d8d879;
  grid-area: body; }

.footer {
  grid-area: footer; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1030px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "main-header" "navigation" "body" "footer"; }
  .header .phone {
    flex: 0 1 auto;
    margin: 0 auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .staff .staff-card .staff-photo {
    max-width: 200px; }
  .header {
    /*Disable Animation on Mobile Devices*/ }
    .header .img-logo {
      flex: 0 1 100px; }
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .staff .staff-card .staff-photo {
    max-width: 150px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 321px) {
  .staff .staff-card .staff-photo {
    max-width: 100px; }
  .app {
    grid-template-columns: auto 1fr;
    grid-template-rows: 170px 1fr auto;
    grid-template-areas: "navigation main-header" "navigation body" "navigation footer"; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.staff {
  display: flex;
  flex-direction: column; }
  .staff .staff-card .staff-photo {
    float: left;
    margin: 10px 20px 10px 0;
    max-width: 300px; }

h1, h2, h3 {
  text-align: center; }

h4 {
  margin-left: 20px; }

p {
  margin-left: 10px; }

.info table {
  width: 100%;
  border-spacing: 1px; }

.info td, .info th {
  padding: 5px;
  border: 1px black solid;
  width: 50%; }
