@import url(../css/_normalize.css);
// @import 'reset';
@import 'vars';
@import url(../css/_fonts.css);
@import 'base';
@import 'header';
@import 'menu';
@import 'main';




.app{
	position: static;
	margin: 0 auto;
	border-radius: $brd-rad-all;
	// box-shadow: 10px 0px 39px rgba(0, 0, 0, 0.5);
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 147px auto 1fr auto;
	grid-template-areas: 	"main-header"
												"navigation"
												"body"
												"footer";
}


.main-header {
	// background-image: url(../img/backgrounds/banner-2369464_1920.jpg);
	// background-position: bottom;
	// background-repeat: no-repeat;
	// height: 170px;

		border-style: solid;
		border-width: 1px;
		border-color: rgb(102, 102, 102);
		border-radius: 10px;
		// background-color: rgb(172, 170, 173);
		// width: 1274px;
		height: 149px;
		
	
	background: url(../img/background_header.png) 0 0 repeat-x;
	// background-color: rgba(255, 255, 255, 0);
	// border-radius: 10px;
	// position: relative;
	grid-area: main-header;
	box-shadow: 0px 0px 30px -5px black inset;
	
}
.navigation {
	background-color: rgba(255, 255, 255, 0);
	// grid-area: navigation;
	// position: sticky;
	// position: -webkit-sticky;
  // position: -moz-sticky;
  // position: -ms-sticky;
	// position: -o-sticky;
	// top: 0px;
}

.body {
	margin-top: 25px;
	border-radius: 10px;
	background-color: #d8d8d879;
	grid-area: body;
}

.footer {
	grid-area: footer;
}

// .befor {
// 	content: '';
// 	width: 100%;
// 	height: inherit;
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// }


@import 'media';
@import 'staff';
@import 'info';
